// header section
.navbar-toggler {
  padding: 3px;
}

nav {
  width: 100%;
  height: 7rem;
  line-height: 7rem;
  overflow: hidden;
}
.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: var(--color-quinary);
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}
.navbar-brand {
  padding: 1rem;
  img {
    height: 5rem;
    width: 5rem;
  }
}

.nav-item {
  font-size: 20px;
  font-weight: 300;
  a:link,
  a:visited {
    margin-right: 2vw;
    padding: 0 1.5rem;
    display: block;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: top;
    transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  a:hover,
  a:active {
    transform: rotateX(90deg);
  }

  a:link::after,
  a:visited::after {
    content: attr(data-text);
    position: absolute;
    background-color: var(--color-tertiary);
    left: 0;
    bottom: -100%;
    transform: rotateX(-90deg);
    transform-origin: top;
    padding: inherit;
  }
}

// direction => downwards
.nav-item:nth-child(odd) {
  animation: downwards 1s forwards;
}

// direction => upwards
.nav-item:nth-child(even) {
  animation: upwards 1s forwards;
}
.header__nav--links__toggle-container {
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    cursor: pointer;
    position: relative;
    width: 6rem;
    height: 3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--color-quinary);
    border-radius: 2.5rem;
    box-shadow: inset 0 0 0.6rem 0.1rem rgb(158, 157, 157);
    transition: all 0.5s ease-in-out;
  }

  input:checked[type="checkbox"] {
    background-color: greenyellow;
  }

  input:not(:checked)[type="checkbox"] {
    background-color: var(--color-tertiary);
  }

  input[type="checkbox"]::before,
  input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-quinary);
    box-shadow: 0 0.1rem 0.3rem 0.1rem hsla(0, 0%, 50%, 0.35);
    transition: all 0.5s ease-in-out;
  }

  input[type="checkbox"]::before {
    left: 0.5rem;
  }

  input[type="checkbox"]::after {
    right: 0.5rem;
  }

  input:checked[type="checkbox"]::before {
    left: 37%;
    box-shadow: none;
  }

  input:checked[type="checkbox"]::after {
    right: 38%;
    box-shadow: none;
  }
}

.header__overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--color-tertiary);
  position: fixed;

  opacity: 0;
  display: none;
  z-index: 10;
}
// Upwards
@keyframes upwards {
  // Starting point
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  // Ending Point
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// Downwards
@keyframes downwards {
  // Starting point
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  // Ending Point
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

//*-*-*-*-*-*-*-*-*-*-- The 800px Mark Break Point*-*-*-*-*-*-*-*-*-*-*

@media only screen and (max-width: 990px) {
  nav {
    overflow: visible;
    // background: transparent;
    .navbar-collapse {
      background: var(--color-primary);
      position: absolute;
      overflow: hidden;
      top: 70px;
      left: -70px;
      width: 25rem;
      height: 100vh;
      line-height: initial;
      flex-direction: column;
      text-align: center;
      z-index: 20;
      // transform: perspective(70rem) rotateY(180deg);
      transform-origin: top left;
      transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .navbar-brand {
      img {
        padding-bottom: 15px;
      }
    }
    .navbar-nav {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .nav-item {
        animation: initial;

        a:link,
        a:visited {
          transform-origin: left;
          margin-right: initial;
          padding: 2rem;
          font-size: 1.2rem;
        }

        a:hover,
        a:active {
          transform: rotateY(90deg);
        }

        a:link::after,
        a:visited::after {
          top: 0;
          bottom: 100%;
          left: 100%;
          width: 100%;
          height: 100%;
          transform-origin: left;
          transform: rotateY(-90deg);
        }
      }
    }
  }

  .change .navbar-collapse {
    transform: rotateY(0);
  }

  .navbar-toggler {
    // background-color: var(--color-primary);
    padding-bottom: 15px;
    overflow: hidden;
    cursor: pointer;
  }

  .header__overlay.change {
    display: block;
    opacity: 0.8;
  }
}
